.App {
  text-align: center;
  
}

.App-logo {
  
  pointer-events: none;
}

.App-header {
  background-color: #6f737a;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  max-width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0d7e4;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.Home {
  
  
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
  
}

.Welc {
  max-width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.Back {
  display: flex;
  justify-content: center;
  min-width: 50vh;
  flex-wrap: wrap;
}

.Lab {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 3vmin;
  
  min-height: 10vh;
  min-width: 10vw;
  flex-wrap: wrap;
  border-radius: 35px;
}
.Img{
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 13vw;

}

.Labs {
  
  
}

.Zone1 {
  background-color: #00376b;
  min-height: 65vh;
  display: flex;
  flex-direction: row;
 
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 35px;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.Zone2 {
  background-color: #44698b;
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 35px;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.Zone3 {
  background-color: #551469;
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 35px;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.Datos {
  background-color: springgreen;
  border-radius: 8px;
  margin-left: 8vmin;
  margin-right: 8vmin;
}

.DatosN {
  background-color: tomato;
  border-radius: 8px;
  margin-left: 8vmin;
  margin-right: 8vmin;
}

.Proyectores {
  background-color: #5587b6;
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 35px;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
}

.Proy {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  min-height: 10vh;
  min-width: 10vw;
  flex-wrap: wrap;
  border-radius: 35px;
}

.Regist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.Data{
  margin-bottom: 3vmin;
  margin-top: 3vmin;
  
  flex-wrap: wrap;
}

.But {
  background-color: #10294c;
  min-height: 7vh;
  font-size: 3vh;
  min-width: 40vh;
  border-radius: 8px;
  color: white;
  border-color: whitesmoke;
}

.Inputs {
  font-size: 2vh;
  border-radius: 10px;
  border-style: solid;
  background-color: #b6e5f1;
  min-height: 4vh;
  min-width: 40vh;
  text-align: center;
  border-color: rgb(53, 53, 53);
}

